<% provide(:title, "Top") %>
<div class="container">
  <p>投稿一覧</p>
  <div class="top-hero-wrapper text-center">
    <div class="container top-hero-container">
      <h1>Group App</h1>
      <h1>[入力欄]：投稿ボタン</h1>
    </div>
  </div>

  <p>投稿一覧</p>

  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-12"><h3>新着情報</h3></div>
      </div>
      <div class="row">
        <div class="col-12"><h3>新着情報</h3></div>
      </div>
      <div class="row">
        <div class="col-12"><h3>新着情報</h3></div>
      </div>
    </div>
    <div class="col-3">
      <h2>メンバー一覧</h2>
    </div>
  </div>
</div>
